<h1></h1>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>


<div class="base" style="background-color:white;">
  <div class="error">
  <%= image_tag 'logo.png', width:'300px'%>
  </div>
  <span class="message2">El paciente ha terminado el formulario  correctamente<span><br>
</div>


<script>
  
/*función que desabilita elemento de carga loader
     ubicado en aplication html*/
    $(document).ready(function () {
          $('#loader').css({'background':'none'});
          $('#loader').css({'position':'none'});
          $('#loader').css({'left':'none'});
          $('#loader').css({'top':'none'});
          $('#loader').css({'width':'none'});
          $('#loader').css({'height':'none'});
          $('#loader').css({'z-index':'-9999'});
          $('#loader').css({'opacity':'none'});

        
 });


</script>

<script>
 setTimeout(function(){
     window.location.href = 'http://172.28.1.213:3000/';
 }, 2000);
</script>

