// Place all the styles related to the order_staffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//diseño gestionador
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");

$blue: #457b8c;
$gray: #f0f0f0;
$red: #ce4034;
$green: #08b8b8;
$primary-font-color: #798796;
$secondary-font-color: #595556;

$primary-font: "PT Sans";
$secondary-font: "Oswald";
:root {
    --main-azul-oscuro:  #24346C;
    --main-blanco:#F0F6FC;
    --main-morado-oscuro:#5D54A4;
    --main-morado-lila:#7C78B8;
    --main-amarillo: #ffe30f;
    --main-azul-claro: #6786B8;
    --main-azul-gris:#B3C0DB;
    --main-tinto: #3c0000;
}



#cuadro_gestionador{
	margin-right: 40%;
}
.fullwidth {
  max-width: 100%;
  height: auto;
}
.-spacing {
  &-a {
    margin-top: 3.125rem;
  }
  &-b {
    margin-top: 1.875rem;
  }
}

.-typo {
  &-copy {
    margin-bottom: 1.875rem;
    color: $secondary-font-color;
    font-size: 1rem;
    font-family: $primary-font;

    &--blue {
      color: $primary-font-color;
    }
  }
}

//DISEÑO CHECKBOX STAFF



.checkbox-radio {
	cursor: pointer;
	display: inline-block;
	margin: 0 1rem .75rem 0;
	padding: .25rem 0 .25rem 2rem;
	position: relative;
	
	input[type='checkbox'] {
		display: none;
		
		&:checked ~ {
			.checked-icon {
				&::before {
					animation: pulse .5s;
					transform: scale(1);
				}
				
				&::after {
					transform: scale(0);
				}
			}
		}
		
		~ .checked-icon {	
			&:after,
			&::before {
				color: #888;
				font-size: 1.5rem;
				left: 0;
				position: absolute;
				transition: transform .125s ease-in;
				top: -2px;
			}

			&::before {
				color: green;
				content: '✓';
				font-family: 'FontAwesome';
				transform: scale(0);
			}

			&::after {
				border: 1px solid #888;
				box-shadow: 0 0 1px #555;
				border-radius: 20px;
				content: '';
				height: 20px;
				top: 2px;
				transform: scale(1);
				width: 20px;
			}
		}
	}
	
	input[type='radio'] {
		display: none;
		
		&:checked ~ {
			.checked-icon {
				&::before {
					animation: pulse .5s;
					box-shadow: 0 0 0 5px red;
					transform: scale(1);
				}
				
				&::after {
					animation: pulse .5s;
					border-color: red;
					// transform: scale(0);
				}
			}
		}
		
		~ .checked-icon {	
			&:after,
			&::before {
				color: #888;
				font-size: 1.5rem;
				left: 0;
				position: absolute;
				transition: transform .125s ease-in;
				top: -2px;
			}

			&::before {
				background: #fff;
				border-radius: 20px;
				 
				color: RED;
				content: '';
				left: 8px;
				top: 10px;
				height: 5px;
				width: 5px;
				// transform: scale(0);
			}

			&::after {
				border: 1px solid #888;
				box-shadow: 0 0 1px #555;
				border-radius: 40px;
				content: '';
				height: 21px;
				top: 2px;
				transform: scale(1);
				width: 21px;
			}
		}
	}
	
}

@keyframes pulse {
	0% {
		transform: scale(.5);
	}
	
	40% {
		transform: scale(1.35);
	}
	
	100% {
		transform: scale(1);
	}
}

*, *::before, *::after {
    box-sizing: border-box;
}


//diseño botton asignar grupos
#asignar{
    text-align: center;
    background:var(--main-azul-oscuro);
    padding: 10px;
    color: white;
    box-shadow: 4px 4px 11px -4px var(--main-azul-oscuro);
}

#asignar:hover{
    
    background:var(--main-azul-claro);
    padding: 10px;
    color: black;
    box-shadow: 4px 4px 11px -4px var(--main-azul-oscuro);
}

/*diseño modal*/
#acceso{
     
    color: white;
    background-color: var(--main-azul-oscuro);
    padding: 15px;
    border-radius: 30px;
    min-height: 120px;
    text-decoration: none;

   

}

#acceso:hover{
     
    color: white;
    background-color: var(--main-azul-claro);
    padding: 10px;
    border-radius: 30px;
    min-height: 120px;
    text-decoration: none;

   

}

.modal-contenido{
  font-family: "PT Sans", sans-serif;
  background-color:var(--main-azul-oscuro);
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
  
 
 
}
.modal-contenido button{
	background-color:var(--main-azul-claro);
	color: white;
	font-family: "PT Sans", sans-serif;
	width: 80px;

}

.modal-contenido button:hover{
	background-color:var(--main-azul-gris);
	color: black;
	font-family: "PT Sans", sans-serif;
	width: 80px;

}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
  margin-top: -100px;
  
  
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}

/*diseño modal 2*/
#atenciones{
  position: relative;
  margin-top: 50%;
    }

    .centro{
      background-color:#0905EF;
      width:300px;
      padding: 10px 20px;
      margin: 20% auto;
      position: relative;
      
     
     
    }
//diseño error grupo
.base {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
	width: 70vw;
	background: var(--main-azul-oscuro);
	margin-left:5%;
  }
  
  
  .error{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
  
  .neon {
	font-family: 'Anton', sans-serif;
	position: relative;
	display: inline-block;
	color: #e0e5ec;
	text-shadow: 
	   7px 7px 20px var( --main-azul-claro), 
	  4px 4px 5px var(--main-azul-claro),
	  0 0 10px var( --main-azul-claro);
	font-size:200px;
  }
  
  .message{
	font-family: 'Anton', sans-serif;
	 position: relative;
	display: inline-block;
	color: #e0e5ec;
	font-size:32px;
	text-shadow: 
	   1px 2px 4px var( --main-azul-claro),   
	  4px 4px 5px var( --main-azul-claro),
	  0 0 10px var( --main-azul-claro);
  }

  .message2{
	font-family: 'Anton', sans-serif;
	 position: relative;
	display: inline-block;
	color: black;
	font-size:32px;
	text-shadow: 
	   1px 2px 4px var( --main-azul-claro),   
	  4px 4px 5px var( --main-azul-claro),
	  0 0 10px var( --main-azul-claro);
  }
  
 // diseño checkbox ver gestion
 .gestionador{
	height: 0;
	width: 0;
	visibility: hidden;
}

.aviso{
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.aviso:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 30px;
	height: 25px;
	background: #fff;
	border-radius: 95px;
	transition: 0.3s;
}

input:checked + .aviso {
	background: var(--main-azul-oscuro);
}

input:checked + .aviso:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

.aviso:active:after {
	width: 50px;
}





  








